/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  justify-content: center;

}

.calculation-page {
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
}

/* Dropdowns e botão */
.dropdowns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.dropdown label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #555;
}

.dropdown select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #333;
}

.calculate-button {
  padding: 12px 20px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.calculate-button:hover {
  background-color: #2980b9;
}

/* Resultados */
.results {
  margin-top: 30px;
}

.results h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #2c3e50;
}

.results table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  background: #ffffff;
}

.results th, .results td {
  padding: 10px;
  border: 1px solid #ddd;
}

.results th {
  background-color: #3498db;
  color: #ffffff;
  font-weight: bold;
}

.results tr:nth-child(even) {
  background-color: #f4f4f9;
}

.results tr:hover {
  background-color: #f1f1f1;
}
